[user]
	name = Sebastian Peters
	email = sebastian.peters@tib.eu
[core]
#	autocrlf = input
[log]
	decorate = short
	date = local
[color]
	status = always
	ui = true
[push]
	default = simple
[core]
 	pager = diff-so-fancy | less --tabs=4 -RFX
	editor = vim
[svn]
	rmdir = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[init]
	defaultBranch = master
