"*":
  "atom-beautify":
    cpp: {}
    general:
      _analyticsUserId: "94aba6a6-9539-416c-b7c6-008536ee54ed"
      beautifyEntireFileOnSave: false
    html:
      indent_size: 2
    js:
      indent_size: 2
  "autocomplete-plus": {}
  core:
    disabledPackages: [
      "atomic-emacs"
      "emacs-mode"
      "linter"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      ".pioenvs"
      ".piolibdeps"
      ".clang_complete"
      ".gcc-flags.json"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-dark-ui"
      "zenburn"
    ]
    useReactEditor: true
  editor:
    fontFamily: "Fira Code"
    fontSize: 15
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  "emacs-mode":
    hideSidebar: false
    hideTabs: false
    useEmacsCursor: true
  emmet: {}
  "exception-reporting":
    userId: "6ee80a5f-fadc-b3a7-88a0-2447bfdb1ccb"
  "file-icons":
    coloured: false
  "fold-navigator":
    indentationCharacter: " "
    keepFolding: true
  "git-blame":
    columnWidth: 365
  linter: {}
  "linter-perl": {}
  "linter-shellcheck": {}
  "linter-ui-default":
    useBusySignal: false
  metrics:
    userId: "a9573f0849f7610c9b0ce40b1e4147d868fb1923"
  minimap:
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
  "platformio-ide":
    showPIOHome: false
  "platformio-ide-terminal":
    core: {}
  "release-notes":
    viewedVersion: "0.96.0-e3dbd41"
  "spell-check":
    locales: [
      "de-DE"
      "en-US"
    ]
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    scrollSyncType: "Vertical + Horizontal"
    syncHorizontalScroll: true
  "tool-bar":
    position: "Left"
    visible: false
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  "vim-mode": {}
  welcome:
    showOnStartup: false
